Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
reboot
scripts/devfs.sh
scripts/ifcfg.sh
scripts/ifrename.sh
scripts/modules_load.sh
services/devfs
services/hostapd
services/ifcfg
services/ifdown
services/ifrename
services/modules
services/nft
services/procfs
services/sigkill
services/sigterm
services/sshd
services/sshd_keygen
services/swclock
services/swclocksave
services/sysfs
services/mountusr
services/tmpfsvar
crontab/swclock
.#*